
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h1 class="fw-light mt-4 text-white">GitHubSearch APP</h1>
          <p class="lead text-white-50">Search for GitHub Repositories and learn from your friends in your software development journey!</p>
        </div>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small><p class="card-text">Made with <i class="fa fa-heart-o"></i> by Oyesa Oluchina  &#169; 2022</p></small>
    </div>
  </footer>
</body>
