
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body class=''>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-#8E24AA text-white">
    <div class="container text-center">
      <small><p class="card-text">Made with <i class="fa fa-heart-o"></i> by Oyesa Oluchina  &#169; 2022</p></small>
    </div>
    <div class="icons text-center">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
    </div>
  </footer>
</body>
