/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  background: #8E24AA;
  background: linear-gradient(to right, #8E24AA, #8E24AA);
}

.icons .fa {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  text-align: center;
}

#sticky-footer{
  color: white;
}
