
<br>
<app-search-profile (searchReturn)="findProfile($event)"></app-search-profile>

<div class="container mt-5">
  <div class="row d-flex justify-content-center" *ngIf="profile">
      <div class="col-md-7">
          <div class="card p-3 py-4">
              <div class="text-center"> <img src="{{profile.avatar_url}}" width="100" class="rounded-circle"> </div>
              <div class="text-center mt-3"> 
                  <h5 class="mt-2 mb-0">{{profile.name}}</h5> <br> <small >{{profile.login}}</small>
                  <div class="px-4 mt-1">
                        <p class="list-group-items" *ngIf="profile.bio">{{profile.bio}}</p>
                        <p><i class="fa fa-users" aria-hidden="true"></i>
                        {{profile.followers}} Followers   |   {{profile.following}}Following</p>
                        <button class="btn btn-dark px-4"><a href="{{profile.html_url}}" class="text-white">View Profile on GitHub</a></button>
                        <br>
                  </div>                
              </div>
          </div>
      </div>
  </div>
</div>
<div>
    <hr>
    <div class="myRepositories">
        <h2 class="text-center">Repositories</h2>
        <div class="row">
            <div class="col-md-12">
              <div *ngFor="let repo of repoData">
                <div class="row">
                  <div class="col-md-8">
                    <h4>
                      <a class= "url" href="{{ repo.html_url }}" target="_blank">{{
                        repo.name
                      }}</a>
                    </h4>
                    <p>{{ repo.description }}</p>
                    <footer> Created: {{repo.created_at | dateCounter}}</footer>
                  </div>
                  <div class="col-md-3">
                    <div class="label label-primary mx-2">
                      <!-- <small> {{repo.created_at | dateCounter}}</small> -->
                    </div>
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div>
      </div>
       

 




  <!-- <div class="col-md-12">
    <h4><strong>Repositories</strong></h4>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="height: 18rem;">
                <div class="card-heading">
                    <h6><a href="{{repo.html_url}}">{{repo.name}}</a></h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{repo.description}}</p>
                </div>
                <div class="footer">
                   <div class="row">
                       <div class="col-md-5">
                        <small>{{repo.dateCreated | dateCounter}}</small>
                       </div>
                   </div>
                </div>
            </div>

        </div>
    </div>

</div> -->
